@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.button {
  background: transparent;
  border: 0;
  color: $color-success;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  transition: $transition;
  &:hover {
    color: darken($color-success, 30%);
  }
  &.active {
    color: darken($color-success, 30%);
  }
}
